@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(219, 207, 207);
}
.title {
  background-color: black;
  height: 6em;
  padding: 30px;
  margin: 0;
  color:  rgb(219, 207, 207);;
}
.input {
  margin: 20px;
  height: 3em;
  width: 20em;
}
button {
  background-color: black;
  border: none;
  color:  rgb(219, 207, 207);
  height: 2.5em;
  width: 6em;
}
img {
  height: 12em;
  width: 12em;
}